body{
    
}
td.value0{ background-color: rgb(150,50,50); }
td.value1{ background-color: rgb(120,60,60) }
td.value2{ background-color: rgb(70,90,70); }
td.value3{ background-color: rgb(60,120,60); }
td.value4{ background-color: rgb(50,150,50); }